# Archivos de datos - EXCLUIR ARCHIVOS GRANDES
data/amazon/
data/imdb/
data/processed/


# Entornos virtuales
venv/
ENV/
env/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/
.jupyter/

# Logs
*.log
*.log.*

# OS
.env
.env.local

